.RestockContainer {
  border: solid teal 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  padding: 5px;
}

.inventoryContainer {
  border: solid teal 2px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 35%;
  padding: 5px;
}

.restockButton {
  width: 40%;
  background-color: teal;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}
