/* .WithdrawContainer {
  border: solid teal 2px;
  width: 25%;
  height: 5vh;
  padding: 5px;
} */

.withdrawButton {
  width: 25%;
  height: 5vh;
  background-color: teal;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--font-mono);
  border-radius: 2.5px;
}
